  .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: rgba(0, 0, 0, 0.3);;
    border-radius: 100px;
    width: 30vw;
}

@media (max-width: 600px) {
  .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: rgba(0, 0, 0, 0.3);;
    border-radius: 100px;
    width: 70vw;
}
}



.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255,255,255,0) !important;
}

.MuiSvgIcon-root{
  color: white !important;
}

.css-b7k0tb-MuiAutocomplete-listbox{
  height:60vh;
}